{% extends "admin/change_list.html" %}

{% block object-tools-items %}
    {{ block.super }}
    {% if export_all_csv_url %}
    <li>
        <a href="{{ export_all_csv_url }}" class="button" style="background-color: #28a745; color: white;">
            Exportar TODO a CSV
        </a>
    </li>
    {% endif %}
    {% if export_all_excel_url %}
    <li>
        <a href="{{ export_all_excel_url }}" class="button" style="background-color: #17a2b8; color: white;">
            Exportar TODO a Excel
        </a>
    </li>
    {% endif %}
{% endblock %}
